<!-- Bouton création journée -->
<div class="content">
  <div  class=" row">
                  <button style="display: block; margin: auto; margin-top: 1%; margin-bottom: 1%;" class=" btn btn-fill btn-success" data-toggle="modal" data-target="#exampleModal"
                  (click)="openModalAjoutJournee()">Créer une nouvelle journée</button>
  </div>
</div>

<div class="content">
  <div class="row">
    <div style="width: 100%; margin: 0 auto;" class="col-md-8">
      <div class=" card">

        <div class=" card-header">
          <h5 class=" title">Journées du voyage {{this.voyage.lieu}}</h5>
        </div>
        <div class=" card-body">
          <div *ngFor="let j of journees">
            <div style="margin-bottom: 1%;" class="card w-100">
              <div class="card-body">

                <h5 style="text-align: center;" class="card-title">Journée du {{j.dateJournee|date:'dd/MM/yyyy'}}</h5>

                <table>
                  <tr>
                    <td>
                      <div *ngIf="j.hebergement!==null">
                        <p class="card-text">Hébergement : {{j.hebergement}}</p>
                      </div>
                    </td>
                     <td>
                      <div *ngIf="j.photo!==null ">
                        <img width="50px" src="http://localhost:9090/photo/{{j.photo.idPhoto}}">
                      </div>
                    </td>
                    <td>
                      <div *ngIf="j.photo!==null">
                        <p class="card-text">Nom photo : {{j.photo.nom}}</p>
                      </div>
                    </td> 
                  </tr>
                </table>

                <div style="text-align: center;" class="table-responsive">
                  <table style="background-color: white;" class=" table tablesorter">
                    <thead class=" text-primary">
                      <tr>
                        <th>Id</th>
                        <th>Descriptif</th>
                        <th>Nom photo</th>
                        <th>Chemin photo</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let a of j.activites">
                        <td>{{a.idActivite}}</td>
                        <td>{{a.descriptif}}</td>
                        <td>{{a.photo.nom}}</td>
                        <td><img width="50px" src="http://localhost:9090/photo/{{j.photo.idPhoto}}"></td>
                        <td><button class=" btn btn-fill btn-primary"
                            (click)="editJourneeActivite2(a, j, toggleActivite.bind(this))">Modifier</button></td>
                        <td><button class=" btn btn-fill btn-danger" data-toggle="modal" data-target="#exampleModal"
                            (click)="openModalActivite(a)">Supprimer</button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <!-- Liste des boutons pour chaque journée -->
                <table>
                  <tr>
                    <td><button class=" btn btn-fill btn-primary"
                        (click)="editJourneeHebergement(j, toggleHebergement.bind(this))">Ajouter/Modifier <br> un
                        hébergement</button></td>
                    <td><button class=" btn btn-fill btn-success"
                        (click)="editJourneePhoto(j, togglePhoto.bind(this))">Ajouter/Modifier <br>
                        une photo</button></td>
                    <td><button class=" btn btn-fill btn-secondary"
                        (click)="editJourneeActivite(j, toggleActivite.bind(this))">Ajouter/Modifier <br> une
                        activité</button></td>
                    <td><button class=" btn btn-fill btn-danger" (click)="openModalJournee(j)">Supprimer <br> cette
                        journée</button></td>
                  </tr>
                </table>

                <!-- Formulaire hébergement -->
                <div name="divHebergement" attr.data-name="{{j.idJournee}}" [hidden]="true">
                  <form [formGroup]="formHebergement" (ngSubmit)="saveHebergement()">
                    <div class=" row">
                      <div class=" col-md-6 pl-md-1">
                        <div class=" form-group">
                          <input formControlName="hebergement" class=" form-control" placeholder="hebergement" />
                        </div>
                      </div>
                    </div>
                    <div class=" card-footer">
                      <button class=" btn btn-fill btn-primary" type="submit">Enregistrer cet hébergement</button>
                    </div>
                  </form>
                </div>

                <!-- Formulaire photo -->
                <div name="divPhoto" attr.data-name="{{j.idJournee}}" [hidden]="true">
                  <form [formGroup]="formPhoto" (ngSubmit)="savePhoto()">
                    <div class=" row">
                      <div class=" col-md-6 pl-md-1">
                        <div class=" form-group">
                          <label> Nom de la photo </label>
                          <input formControlName="nom" class=" form-control" placeholder="Nom de la photo" />
                        </div>
                      </div>
                      <div class=" col-md-6 pl-md-1">
                        <div class=" form-group">
                          <label> Chemin de la photo </label>
                          <input formControlName="chemin" class=" form-control" placeholder="chemin de la photo" />
                        </div>
                      </div>
                    </div>
                    <div class=" card-footer">
                      <button class=" btn btn-fill btn-success" type="submit">Enregistrer cette photo</button>
                    </div>
                  </form>
                </div>

                <!-- Formulaire activité -->
                <div name="divActivite" attr.data-name="{{j.idJournee}}" [hidden]="true">
                  <form [formGroup]="formActivite" (ngSubmit)="saveActivite(this.ngOnInit.bind(this))">
                    <input hidden formControlName="idActivite" class=" form-control" placeholder="idActivite" />
                    <div class=" row">
                      <div class=" col-md-6 pl-md-1">
                        <div class=" form-group">
                          <input hidden formControlName="idActivite" class=" form-control" />
                          <label> Descriptif </label>
                          <input formControlName="descriptif" class=" form-control" placeholder="descriptif" />
                        </div>
                      </div>
                      <div class=" col-md-6 pl-md-1">
                        <div class=" form-group">
                          <label> Nom de la photo </label>
                          <input formControlName="nomPhotoActivite" class=" form-control"
                            placeholder="nom de la photo" />
                        </div>
                      </div>
                      <div class=" col-md-6 pl-md-1">
                        <div class=" form-group">
                          <label> Photo </label>
                          <input formControlName="photo" class=" form-control" placeholder="photo" />
                        </div>
                      </div>
                    </div>
                    <div class=" card-footer">
                      <button class=" btn btn-fill btn-secondary" type="submit">Enregistrer cette activité</button>
                    </div>
                  </form>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal ajout journée -->
<div class="modal" id="modalAjoutJournee">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Ajouter une journée</h5>
              <span class="close">&times;</span>
          </div><form [formGroup]="formJournee" (ngSubmit)="saveJournee()">
          <div class="modal-content">
              
                  <table style="width: 100%;">
                                  <div class=" form-group">
                                      <input hidden formControlName="idJournee" class=" form-control" />
                                      <label> Quelle est la date de cette journée ? </label>
                                      <input class="zone" type="date" formControlName="dateJournee"
                                          placeholder="aaaa-mm-jj" />
                                  </div>
                      <tr>
                          <div>
                              <div class=" form-group">
                                  <label> Où as-tu dormi ce jour-là ? </label>
                                  <input class="zone" formControlName="hebergement"
                                      placeholder="Entre l'hébergement ici !" />
                              </div>
                          </div>
                      </tr>
                      <tr>
                          <div>
                              <div class=" form-group">
                                  <label> Quelle est la photo qui représentera cette journée ? </label>
                                  <input class="zone" formControlName="cheminPhotoJournee"
                                      placeholder="Entre le chemin de la photo ici ! " />
                              </div>
                          </div>
                      </tr>
                      <tr>
                          <div>
                              <div class=" form-group">
                                  <label> Quel nom souhaites-tu donner à cette photo ? </label>
                                  <input class="zone" formControlName="nomPhotoJournee"
                                      placeholder="Entre le nom de la photo ici !" />
                              </div>
                          </div>
                      </tr>
                  </table>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-success" type="submit">Ajouter cette journée</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal"
                  (click)="closeFormAjoutJournee()">Annuler</button>
          </div></form>
      </div>
  </div>
</div>

<!-- Modal suppression d'une activité-->
<div class="modal" id="modalSuppressionActivite">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Supression d'une activité</h5>
        <span class="close">&times;</span>
      </div>
      <div class="modal-content">
        Tu tentes de supprimer l'activité {{this.activite.idActivite}} - {{this.activite.descriptif}}. <br> Es-tu bien
        sûr(e) de toi ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="deleteActivite(this.ngOnInit.bind(this))">Supprimer l'activité</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeFormActivite()">Annuler la
          suppression</button>

      </div>
    </div>
  </div>
</div>

<!-- Modal suppression d'une journée-->
<div class="modal" id="modalSuppressionJournee">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Supression d'une journée</h5>
        <span class="close">&times;</span>
      </div>
      <div class="modal-content">
        Tu tentes de supprimer la journée du {{this.journee.dateJournee|date:'dd/MM/yyyy'}}. <br> Es-tu bien
        sûr(e) de toi ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="deleteJournee()">Supprimer la journée</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeFormJournee()">Annuler la
          suppression</button>

      </div>
    </div>
  </div>
</div>