<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a routerLink="" class="nav-link">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a routerLink="formVoyages" class="nav-link">Formulaire voyages</a>
        </li>
        <li class="nav-item">
        <a routerLink="formJournees" class="nav-link">Formulaire journées</a>
        </li>
        <li class="nav-item">
         <a routerLink="formActivites" class="nav-link">Formulaire activités</a>
        </li>
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"  >
            Dropdown
          </a>
          <ul *dropdownMenu class="dropdown-menu"> <!-- {3} -->
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a class="dropdown-item" href="#">One more separated link</a></li>
        </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
