
<app-navbar></app-navbar>
<!-- La configuration du "Routing" permet de définir quel composant afficher en fonction de la route mais cela n'indique pas à Angular où injecter le composant dans la page.
Pour indiquer l'emplacement d'insertion du composant, il faut utiliser la directive <router-outlet> -->
<router-outlet></router-outlet>