<!-- Bouton création voyage -->
<div class="content">
    <div  class=" row">
                    <button style="display: block; margin: auto; margin-top: 1%;" class=" btn btn-fill btn-success" data-toggle="modal" data-target="#exampleModal"
                        (click)="openModalAjout()">Créer un nouveau voyage</button>
    </div>
</div>




<!-- Liste des voyages -->
<div style="width: 80%; margin: 0 auto;" class=" row">
    <div class=" card-body">
        <div style="text-align: center;" class=" table-responsive">
            <table style="background-color: white;" class=" table tablesorter" id="">
                <thead class=" text-primary">
                    <tr>
                        <th>Id</th>
                        <th>Plusieurs jours</th>
                        <th>Date de début</th>
                        <th>Date de fin</th>
                        <th>Lieu</th>
                        <th>Photo</th>
                        <th>Nom de la photo</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let v of voyages">
                        <td>{{v.idVoyage}}</td>
                        <td>{{v.plusieursJours}}</td>
                        <td>{{v.dateDebut|date:'dd/MM/yyyy'}}</td>
                        <td>{{v.dateFin|date:'dd/MM/yyyy'}}</td>
                        <td>{{v.lieu}}</td>
                        <td><img width="50px" src="http://localhost:9090/photo/{{v.photo.idPhoto}}"></td>
                        <td>{{v.photo.nom}}</td>
                        <td><button class=" btn btn-fill btn-primary" (click)="editVoyage(v)">Modifier</button></td>
                        <td><button class=" btn btn-fill btn-danger" data-toggle="modal" data-target="#exampleModal"
                                (click)="openModal(v)">Supprimer</button></td>
                        <td><button class=" btn btn-fill btn-secondary" data-toggle="modal" data-target="#exampleModal"
                                (click)="changerPage(v)">Accéder aux journées</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal ajout voyage -->
<div class="modal" id="modalAjout">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Créer un nouveau voyage</h5>
                <span class="close">&times;</span>
            </div><form [formGroup]="formVoyage" (ngSubmit)="saveVoyage(this.saveJournee.bind(this))">
            <div class="modal-content">
                
                    <table style="width: 100%;">
                        <tr>
                            <div>
                                <div>
                                    <p>Le voyage a-t-il duré plusieurs jours ?</p>
                                    <div class="btn-group btn-group-toggle" name="radioBasic">
                                        <table>
                                            <tr>
                                                <label>
                                                    <input formControlName="plusieursJours" type="radio" value="true"
                                                        (click)="afficherDateForm('true')"> Oui
                                                </label>
                                            </tr>
                                            <tr>
                                                <label>
                                                    <input formControlName="plusieursJours" type="radio" value="false"
                                                        (click)="afficherDateForm('false')">
                                                    Non
                                                </label>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        <tr>
                            <div *ngIf="isSelected('true')">
                                <div class=" col-md-6 pr-md-1">
                                    <div class=" form-group">
                                        <input hidden formControlName="idVoyage" class=" form-control" />
                                        <label> Quand ce voyage a-t-il débuté ? </label>
                                        <input class="zone" type="date" formControlName="dateDebut"
                                            placeholder="aaaa-mm-jj" />
                                    </div>
                                </div>
                                <div class=" col-md-6 pl-md-1">
                                    <div class=" form-group">
                                        <label> Quand ce voyage s'est-il terminé ? </label>
                                        <input class="zone" type="date" formControlName="dateFin"
                                            placeholder="aaaa-mm-jj" />
                                    </div>
                                </div>
                            </div>
                        </tr>
                        <tr>
                            <div *ngIf="isSelected('false')">
                                <div class=" col-md-6 pr-md-1">
                                    <div class=" form-group">
                                        <label> Quand ce voyage a-t-il eu lieu ? </label>
                                        <input hidden formControlName="idVoyage" class=" form-control" />
                                        <input class="zone" type="date" formControlName="dateDebut"
                                            placeholder="aaaa-mm-jj" />
                                    </div>
                                </div>
                            </div>
                        </tr>
                        <tr>
                            <div>
                                <div class=" form-group">
                                    <label> Où ce voyage a-t-il eu lieu ? </label>
                                    <input class="zone" formControlName="lieu"
                                        placeholder="Entre le lieu du voyage ici !" />
                                </div>
                            </div>
                        </tr>
                        <tr>
                            <div>
                                <div class=" form-group">
                                    <label> Quelle est la photo qui représentera ce voyage ? </label>
                                    <input class="zone" formControlName="cheminPhoto"
                                        placeholder="Entre le chemin de la photo ici ! " />
                                </div>
                            </div>
                        </tr>
                        <tr>
                            <div>
                                <div class=" form-group">
                                    <label> Quel nom souhaites-tu donner à cette photo ? </label>
                                    <input class="zone" formControlName="nomPhotoVoyage"
                                        placeholder="Entre le nom de la photo ici !" />
                                </div>
                            </div>
                        </tr>
                    </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" type="submit">Créer ce voyage</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="closeFormAjout()">Annuler</button>
            </div></form>
        </div>
    </div>
</div>

<!-- Modal modification voyage -->
<div class="modal" id="modalModification">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modifier ce voyage</h5>
                <span class="close">&times;</span>
            </div><form [formGroup]="formVoyage" (ngSubmit)="modifierVoyage()">
            <div class="modal-content">
                
                    <table style="width: 100%;">
                        <tr>
                            <div>
                                <div>
                                    <p>Le voyage a-t-il duré plusieurs jours ?</p>
                                    <div class="btn-group btn-group-toggle" name="radioBasic">
                                        <table>
                                            <tr>
                                                <label>
                                                    <input formControlName="plusieursJours" type="radio" value="true"
                                                        (click)="afficherDateForm('true')"> Oui
                                                </label>
                                            </tr>
                                            <tr>
                                                <label>
                                                    <input formControlName="plusieursJours" type="radio" value="false"
                                                        (click)="afficherDateForm('false')">
                                                    Non
                                                </label>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        <tr>
                            <div *ngIf="isSelected('true')">
                                <div class=" col-md-6 pr-md-1">
                                    <div class=" form-group">
                                        <input hidden formControlName="idVoyage" class=" form-control" />
                                        <label> Quand ce voyage a-t-il débuté ? </label>
                                        <input class="zone" type="date" formControlName="dateDebut"
                                            placeholder="aaaa-mm-jj" />
                                    </div>
                                </div>
                                <div class=" col-md-6 pl-md-1">
                                    <div class=" form-group">
                                        <label> Quand ce voyage s'est-il terminé ? </label>
                                        <input class="zone" type="date" formControlName="dateFin"
                                            placeholder="aaaa-mm-jj" />
                                    </div>
                                </div>
                            </div>
                        </tr>
                        <tr>
                            <div *ngIf="isSelected('false')">
                                <div class=" col-md-6 pr-md-1">
                                    <div class=" form-group">
                                        <label> Quand ce voyage a-t-il eu lieu ? </label>
                                        <input hidden formControlName="idVoyage" class=" form-control" />
                                        <input class="zone" type="date" formControlName="dateDebut"
                                            placeholder="aaaa-mm-jj" />
                                    </div>
                                </div>
                            </div>
                        </tr>
                        <tr>
                            <div>
                                <div class=" form-group">
                                    <label> Où ce voyage a-t-il eu lieu ? </label>
                                    <input class="zone" formControlName="lieu"
                                        placeholder="Entre le lieu du voyage ici !" />
                                </div>
                            </div>
                        </tr>
                        <tr>
                            <div>
                                <div class=" form-group">
                                    <label> Quelle est la photo qui représentera ce voyage ? </label>
                                    <input class="zone" formControlName="cheminPhoto"
                                        placeholder="Entre le chemin de la photo ici ! " />
                                </div>
                            </div>
                        </tr>
                        <tr>
                            <div>
                                <div class=" form-group">
                                    <label> Quel nom souhaites-tu donner à cette photo ? </label>
                                    <input class="zone" formControlName="nomPhotoVoyage"
                                        placeholder="Entre le nom de la photo ici !" />
                                </div>
                            </div>
                        </tr>
                    </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" type="submit">Modifier ce voyage</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="closeFormModification()">Annuler</button>
            </div></form>
        </div>
    </div>
</div>

<!-- Modal suppression voyage -->
<div class="modal" id="modalSuppression">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Supression d'un voyage</h5>
                <span class="close">&times;</span>
            </div>
            <div class="modal-content">
                Tu tentes de supprimer le voyage {{this.voyage.idVoyage}} - {{this.voyage.lieu}}. <br> Es-tu bien sûr(e)
                de toi ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="deleteVoyage()">Supprimer le voyage</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeForm()">Annuler la
                    suppression</button>
            </div>
        </div>
    </div>
</div>